@tailwind base; 
@tailwind components; 
@tailwind utilities; 

  @import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Allura&family=Comforter&family=Dancing+Script&family=Edu+NSW+ACT+Foundation:wght@500&family=Fasthand&family=Lato:ital,wght@0,100;0,300;0,700;0,900;1,100;1,300;1,400&family=Lora:ital@0;1&family=MonteCarlo&family=Montserrat:ital,wght@0,200;0,300;0,600;0,700;0,900;1,100;1,200;1,400&family=Moon+Dance&family=Open+Sans:ital,wght@0,700;1,500&family=Playfair:wght@300;700;900&family=Quicksand:wght@300&family=Raleway:wght@100&family=Roboto+Mono&family=Roboto:ital,wght@0,100;1,300&family=Sassy+Frass&family=Sedgwick+Ave+Display&family=Shadows+Into+Light&display=swap');


  @import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Allura&family=Comforter&family=Dancing+Script&family=Edu+NSW+ACT+Foundation:wght@500&family=Fasthand&family=Lato:ital,wght@0,100;0,300;0,700;0,900;1,100;1,300;1,400&family=Lora:ital@0;1&family=MonteCarlo&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,400&family=Moon+Dance&family=Open+Sans:ital,wght@0,700;1,500&family=Playfair:wght@300;700;900&family=Quicksand:wght@300&family=Raleway:wght@100&family=Roboto+Mono&family=Roboto:ital,wght@0,100;1,300&family=Sassy+Frass&family=Sedgwick+Ave+Display&family=Shadows+Into+Light&display=swap');

:root {
  --default: #ffffff;
  --default2: #ced4da;  
  --primary: #4361ee; 
  --primary2: #4895ef; 
}

@layer base {
  body {
    @apply font-[Montserrat] 
  }
  h1 {
    @apply font-[Montserrat]
  }
  .links {
    @apply px-2 text-xl hover:text-[var(--default2)]
  }
  .mob-links {
    @apply px-2 text-xl py-4 border-b text-[var(--primary)] hover:text-[var(--default)]
  }
  .icons {
    @apply cursor-pointer hover:animate-pulse
  }
  .rel-icons {
    @apply text-black
  }
  .button {
    @apply bg-gradient-to-r from-[var(--primary)] to-[var(--primary2)] text-[var(--default)] px-6 py-2 rounded-md text-2xl hover:bg-gradient-to-r hover:from-[var(--primary2)] hover:to-[var(--primary)] hover:text-gray-300
  }
  .spread-nav {
    @apply flex justify-between
  }
  .car-details {
    @apply text-xl md:text-3xl py-3 bg-slate-100 px-2 my-3 text-center rounded-md
  }
  .extra {
    @apply px-2
  }
  .group-details {
    @apply  bg-[var(--default)] px-4 py-6 my-2
  }
  .hero-images {
    @apply w-full h-full object-cover hover:scale-105 duration-500
  }
  .hero-span {
    @apply absolute bottom-1 right-1 italic font-[regular]
  }
}